@font-face {
  font-family: 'LINE Seed Sans TH';
  src: url('LINESeedSansTH-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed Sans TH';
  src: url('LINESeedSansTH-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed Sans TH';
  src: url('LINESeedSansTH-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed Sans TH';
  src: url('LINESeedSansTH-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed Sans TH';
  src: url('LINESeedSansTH-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
