@font-face {
  font-family: 'Tlwg Typist';
  src: url('TlwgTypist-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Tlwg Typist';
  src: url('TlwgTypist-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
