@font-face {
  font-family: 'Charmonman';
  src: url('Charmonman-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Charmonman';
  src: url('Charmonman-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
