@font-face {
  font-family: 'Kinnari';
  src: url('Kinnari-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Kinnari';
  src: url('Kinnari-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
