@font-face {
  font-family: 'Droid Sans Thai';
  src: url('DroidSansThai-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Droid Sans Thai';
  src: url('DroidSansThai-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
