@font-face {
  font-family: 'Tlwg Typewriter';
  src: url('TlwgTypewriter-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Tlwg Typewriter';
  src: url('TlwgTypewriter-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
